body {
  padding-top: 60px;
  font-family: "Times New Roman", Times, serif;
}

/*.fa{
 color: #333333;
}*/

img {
	margin: auto;
}

h1 {
	text-align: center;
}

.lead {
	text-align: justify;
}

.fa-facebook-official{
	color: #3B5998;
}

.fa-instagram{
	color: #125688;
}